@media only screen and (max-width: 1024px) {
    main .route-wr {
        padding: 60px 0 100px;
    }
    h5, span {
        font-size: 1.1rem;
    }
    .account-page .info-wr{
        padding: 40px;
    }
    .account-page .options-wr{
        padding: 40px;
    }

    .registration-sale .form-wr .right-form{
        flex-direction: column;
    }
    .registration-sale .form-wr .right-form .input-box{
        width: 100%;
    }
    .samsung-presentation .presentation-wr .pdf-wr {
        height: 70%;
    }
    .samsung-lesson .tests-wr .btn {

        bottom: 120px;
    }
}
@media only screen and (max-width: 1000px) {
    .buy-present .presents-wr .buy-product {
        width: 100%;

    }
    .buy-present .presents-wr .buy-product:nth-child(2n) {
        padding-left: 0;
        margin-left:0;
    }
}
