@media only screen and (max-width: 1024px) {

    h5, span {
        font-size: 1.1rem;
    }
    .account-page .info-wr{
        padding: 40px;
    }
    .account-page .options-wr{
        padding: 40px;
    }

    .registration-sale .form-wr .right-form{
        flex-direction: column;
    }
    .registration-sale .form-wr .right-form .input-box{
        width: 100%;
    }


}
@media only screen and (max-width: 1000px) {
    .buy-present .presents-wr .buy-product {
        width: 100%;

    }
    .buy-present .presents-wr .buy-product:nth-child(2n) {
        padding-left: 0;
        margin-left:0;
    }
}
